.colored-section {
    background-color: #031a5b;
    color: #dae1e7;
    padding: 2rem;
    text-align: center;
    margin-bottom: 1%;
  }

  .section-heading {
    line-height: 1;
    
  }
  #features {
    padding: 2% 7%;
    position: relative;
  }
  .features-image {
    margin-bottom: 1rem;
    width:100%;
    color: #dae1e7;
  }
  .features-image:hover {
    color: #c3921c;
  }  
  .features-para {
    color: #c3921c;
  }
  
  .features-box {
    padding: 2% 5% 1%;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }

